#map {
    width: 600px;
    height: 300px;
}

.main {
    margin:0;
    padding:0;
    background-color: aliceblue;
    flex: auto;
    align-content: center;
}

#bar {
    margin:0;
    padding:0;
}