<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Real Estate Dashboard</title>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
    <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h2>Real Estate Dashboard</h2>
        <p>Choose a city from the menu below to get started</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div id="info">
          <select id="selCity" onchange="optionChanged(this.value)">
            <option value="29470">Chicago</option>
            <option value="18142">Tampa</option>
            <option value="30756">Atlanta</option>
            <option value="17151">San Francisco</option>
            <option value="30818">Austin</option>
          </select>
        </div>
        <div id="cityInfo"></div>
      </div>
      <div class="col-md-7 main">
        <div id="header"></div>
        <div id="map"></div>
        <div id="bar"></div>
      </div>
      <div class="col-md-3">
        <div id="rightBar"></div>
      </div>
    </div>
    <div class="row footer">
    </div>
    </div>
  </div>

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="./static/js/app.js"></script>
  <script src="./static/js/logic.js"></script>
  
</body>

</html>
