<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Real Estate Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h2>Real Estate Dashboard</h2>
        <p>Choose a city from the menu below to get started</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div id="info">
            selector
        </div>
      </div>
      <div class="col-md-8">
        <h2>{{homes['homes'][0]['homeData']['addressInfo']['city']}}, {{homes['homes'][0]['homeData']['addressInfo']['state']}}</h2>
        <h4>{{homes['homes'][0]['homeData']['addressInfo']['formattedStreetLine']}} {{homes['homes'][0]['homeData']['addressInfo']['city']}}, {{homes['homes'][0]['homeData']['addressInfo']['state']}}  {{homes['homes'][0]['homeData']['addressInfo']['zip']}}</h4>
        <table>
            <tbody>
              <tr>
                <td>Home Price</td>
                <td id="price">{{homes['homes'][0]['homeData']['priceInfo']['amount']['value']}}</td>
              </tr>
              <tr>
                <td>Time on Market</td>
                <td id="time_on_market">{{homes['homes'][0]['homeData']['daysOnMarket']['daysOnMarket']['value']}}</td>
              </tr>
              <tr>
                <td>Beds</td>
                <td id="beds">{{homes['homes'][0]['homeData']['beds']['value']}}</td>
              </tr>
              <tr>
                <td>Baths</td>
                <td id="baths">{{homes['homes'][0]['homeData']['baths']['value']}}</td>
              </tr>
              <tr>
                <td>Square Feet</td>
                <td id="sqft">{{homes['homes'][0]['homeData']['sqftInfo']['amount']['value']}}</td>
              </tr>
            </tbody>
            </table>
      </div>
    </div>
    <div class="row footer">
    </div>
    </div>
  </div>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="./static/js/app.js"></script>
  
</body>

</html>
